<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Login</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body>
        <h1>Admin Login</h1>
        <div class= "container">
            <fieldset>
                <form action="/" method="POST">
                    <div class="left">
                        <label for = "user" class="labelText" >Email: </label>
                        <input name="user" type="email" class="ghost-input" placeholder= "Email" >
                    </div>
                    <div class="left">
                        <label for = "password" class="labelText" >Passowrd: </label>
                        <input name="password" type="password" class="ghost-input" placeholder="Password">
                    </div>
                    <input type="submit" class="ghost-button" value="Login">
                </form>
            </fieldset>
        </div>
    </body>
</html>