<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Login</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body>
        <h1>Admin Login</h1>
        <div class= "container">
            <fieldset>
                <form action="/" method="POST">
                    <input name="email" type="text" class="ghost-input" placeholder="Email">
                    <input name="password" type="password" class="ghost-input" placeholder="Password">
                    <input type="submit" class="ghost-button" value="Login">
                </form>
            </fieldset>
        </div>
    </body>
</html>