<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>TEST</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body>
        <div class="sidebar">
            <a class="active" href="#home">Home</a>
            <a href="#news">News</a>
            <a href="#contact">Contact</a>
            <a href="#about">About</a>
        </div>
        <div class= "container">
            <fieldset>
                <form action="/mainpage" method="POST">
                    <input name="submit" type="text" class="ghost-input" placeholder="Change to email">
                    <input type="submit" class="ghost-button" value="changeToEmail">
                    <input name="submit" type="text" class="ghost-input" placeholder="Change from Email">
                    <input type="submit" class="ghost-button" value="changeFromEmail">
                    <input name="submit" type="text" class="ghost-input" placeholder="Change email title">
                    <input type="submit" class="ghost-button" value="changeTitle">
                    <input name="submit" type="text" class="ghost-input" placeholder="Change email title">
                    <input type="submit" class="ghost-button" value="changeTitle">
                    <input name="submit" type="text" class="ghost-input" placeholder="Change email title">
                    <input type="submit" class="ghost-button" value="changeTitle">
                    <input name="submit" type="text" class="ghost-input" placeholder="Change email title">
                    <input type="submit" class="ghost-button" value="changeTitle">
                    <input name="submit" type="text" class="ghost-input" placeholder="Change email title">
                    <input type="submit" class="ghost-button" value="changeTitle">
                    <input name="submit" type="text" class="ghost-input" placeholder="Change email title">
                    <input type="submit" class="ghost-button" value="changeTitle">
                    <input name="submit" type="text" class="ghost-input" placeholder="Change email title">
                    <input type="submit" class="ghost-button" value="changeTitle">
                </form>
            </fieldset>
        </div>
    </body>
</html>